# Dependencias
node_modules/
package-lock.json
npm-debug.log
yarn-debug.log
yarn-error.log

# Variables de entorno
.env
.env.local
.env.*.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Directorios de construcción
/dist
/build

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de caché
.cache/
.npm/ 